<!-- Banner for Shopping Place For Girls-->
	<div class="banner">
		<div class="signing text-right">
			<div class="container">
				<!--  Login and Signup redirecting to /signin route -->
				<div class="sign-in">
					<a ui-sref="signin">Sign In</a>
				</div>
				<div class="sign-up1">
					<a ui-sref="signin">Sign Up</a>
				</div>
				<div class="clearfix"></div>
			</div>
		</div>
		<div class="banner-info text-center">
			<i class="shipping"></i>
			<h3>Shopping Place For Girls</h3>
			<p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna
				aliquam erat volutpat. Ut wisi enimcidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim</p>
			<a ui-sref="products">All Products</a>
		</div>
	</div>