<div class="dreamcrub">
    <ul class="breadcrumbs">
        <li class="home">
            <a href="/template/index.html" title="Go to Home Page"><img src="images/home.png" alt="" /></a>&nbsp;
            <span>&gt;</span>
        </li>
        <li>
            Cart(0)
        </li>
    </ul>
    <ul class="previous">
        <li><a href="/template/index.html">Back to Previous Page</a></li>
    </ul>
    <div class="clearfix"></div>
</div>
</div>
<div class="container">
    <div class="coats sing-c text-center">
        <h3 class="c-head">Your Shopping Cart(0)</h3>
        <p>Lorem ipsum dolor sit amet enim. Etiam ullamcorp uspendisse a pellentesque.</p>
        <p> Etiam ullamcorp uspendisse a pellentesque.Lorem ipsum dolor sit amet enim.</p>
        <p>Your Bascket Is Empty Please Go <a href="/template/products.html">here</a> And Shop</p>
    </div>
</div>
