<div class="container">
	<div class="ft-ball">
		<div class="cont span_2_of_3">
			<div class="mens-toolbar">
				<div class="sort">
					<div class="sort-by">
						<label>Sort By</label>
						<select>
                        <option value="">
                            Popularity </option>
                        <option value="">
                            Price : High to Low </option>
                        <option value="">
                            Price : Low to High </option>
		            </select>
						<a href=""><img src="/images/arrow2.gif" alt="" class="v-middle"></a>
					</div>
				</div>
				<div class="pager">
					<div class="limiter visible-desktop">
						<label>Show</label>
						<select>
                    <option value="" selected="selected">
                        9 </option>
                    <option value="">
                        15 </option>
                    <option value="">
                        30 </option>
                </select> per page
					</div>
					<ul class="dc_pagination dc_paginationA dc_paginationA06">
						<li><a href="#" class="previous">Pages</a></li>
						<li><a href="#">1</a></li>
						<li><a href="#">2</a></li>
					</ul>
					<div class="clearfix"></div>
				</div>
				<div class="clearfix"></div>
			</div>
			<div class="box1">
				<div class="col_1_of_single1 span_1_of_single1" ng-repeat="product in products track by $index">
					<div class="view1 view-fifth1">
						<div class="top_box">
							<h3 class="m_1">{{ product.info }}</h3>
							<p class="m_2">Lorem ipsum</p>
							<a ui-sref="single">
								<div class="grid_img">
									<div class="css3"><img src="{{ product.imagepath }}" alt="" /></div>
									<div class="mask1">
										<div class="info">Quick View</div>
									</div>
								</div>
								<div class="price">$ {{ product.price }}
									<button class="btn btn-success pull-right" ng-click="addToCart(product)">Add To Bag </button>
								</div>
								
						</div>
					</div>
					</a>
						 <!--<ul class="list2">
						  <li>
						  	<img src="/images/plus.png" alt=""/>
						  	<ul class="icon1 sub-icon1 profile_img">
							  <li>
								  
							  </li>
							 </ul>
						   </li>
					     </ul>-->
			    	    <div class="clear"></div>
			    	</div>
					
				  <div class="clearfix"></div>
			  </div>
			  
			  </div>
     	    <div class="rsidebar span_1_of_left">
				   <section  class="sky-form">
                    <div class="product_right">
                            <h3 class="m_2"> Categories</h3>
                                <select class="dropdown" tabindex="10" data-settings='{"wrapperClass":"metro"}'>
                                    <option value="0">New</option>	
                                    <option value="1">tempor</option>
                                    <option value="2">congue</option>
                                    <option value="3">mazim </option>
                                    <option value="4">mutationem</option>
                                    <option value="5">hendrerit </option>
                                </select>
                                <select class="dropdown" tabindex="50" data-settings='{"wrapperClass":"metro"}'>
                                        <option value="1">Designers</option>
                                        <option value="2">Sub Category1</option>
                                        <option value="3">Sub Category2</option>
                                        <option value="4">Sub Category3</option>
                                </select>
                                
                            </div>
                            
                       
                        <h4 class="m_2"> Styles</h4>
                            <div class="row row1 scroll-pane">
                                <div class="col col-4">
                                    <label class="checkbox"><input type="checkbox" name="checkbox" checked=""><i></i>Athletic (20)</label>
                                </div>
                                <div class="col col-4">
                                    <label class="checkbox"><input type="checkbox" name="checkbox"><i></i>Ballerina (5)</label>
                                    <label class="checkbox"><input type="checkbox" name="checkbox"><i></i>Pumps (7)</label>
                                    <label class="checkbox"><input type="checkbox" name="checkbox"><i></i>High Tops (2)</label>
                                    <label class="checkbox"><input type="checkbox" name="checkbox"><i></i>Other (1)</label>
                                </div>
                            </div>
				    </section>
		       <section  class="sky-form">
					<h4 class="m_2">Price</h4>
						<div class="row row1 scroll-pane">
							<div class="col col-4">
								<label class="checkbox"><input type="checkbox" name="checkbox" checked=""><i></i>$50.00 and Under (30)</label>
							</div>
							<div class="col col-4">
								<label class="checkbox"><input type="checkbox" name="checkbox"><i></i>$100.00 and Under (30)</label>
								<label class="checkbox"><input type="checkbox" name="checkbox"><i></i>$200.00 and Under (30)</label>
								<label class="checkbox"><input type="checkbox" name="checkbox"><i></i>$300.00 and Under (30)</label>
								<label class="checkbox"><input type="checkbox" name="checkbox"><i></i>$400.00 and Under (30)</label>
							</div>
						</div>
		       </section>
		       <section  class="sky-form">
					<h4 class="m_2">Colors</h4>
						<div class="row row1 scroll-pane">
							<div class="col col-4">
								<label class="checkbox"><input type="checkbox" name="checkbox" checked=""><i></i>Red</label>
							</div>
							<div class="col col-4">
								<label class="checkbox"><input type="checkbox" name="checkbox"><i></i>Green</label>
								<label class="checkbox"><input type="checkbox" name="checkbox"><i></i>Black</label>
								<label class="checkbox"><input type="checkbox" name="checkbox"><i></i>Yellow</label>
								<label class="checkbox"><input type="checkbox" name="checkbox"><i></i>Orange</label>
							</div>
						</div>
		       </section>
		</div>
			  <div class="clearfix"></div>
		   </div>
	</div>
	<!-- content-section-ends -->
